[Unit]
Description=Manage discord bot
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/ADTeamProject2
ExecStart=java -jar target/dbot-1.0-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target

